@font-face {
    font-family: 'Lato Light';
    src: url('/fonts/Lato/Lato-Light.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato BlackItalic';
    src: url('/fonts/Lato/Lato-BlackItalic.woff2') format('woff2');
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Bold';
    src: url('/fonts/Lato/Lato-Bold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato LightItalic';
    src: url('/fonts/Lato/Lato-LightItalic.woff2') format('woff2');
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Italic';
    src: url('/fonts/Lato/Lato-Italic.woff2') format('woff2');
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Black';
    src: url('/fonts/Lato/fonts/Lato/Lato-Black.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato BoldItalic';
    src: url('/fonts/Lato/Lato-BoldItalic.woff2') format('woff2');
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('/fonts/Lato/Lato-Hairline.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato HairlHairlineItalicine';
    src: url('/fonts/Lato/Lato-HairlineItalic.woff2') format('woff2');
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Thin';
    src: url('/fonts/Montserrat/Montserratarm-Thin.otf') format('opentype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat ExtraLight';
    src: url('/fonts/Montserrat/Montserratarm-ExtraLight.otf') format('opentype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('/fonts/Montserrat/Montserratarm-Light.otf') format('opentype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('/fonts/Montserrat/Montserratarm-Regular.otf') format('opentype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('/fonts/Montserrat/Montserratarm-Medium.otf') format('opentype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('/fonts/Montserrat/Montserratarm-SemiBold.otf') format('opentype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('/fonts/Montserrat/Montserratarm-Bold.otf') format('opentype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat ExtraBold';
    src: url('/fonts/Montserrat/Montserratarm-ExtraBold.otf') format('opentype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Black';
    src: url('/fonts/Montserrat/Montserratarm-Black.otf') format('opentype');
    font-style: normal;
    font-display: swap;
}
