.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 596px;
  gap: auto;

  input {
    width: 74px;
    height: 86px;
    outline: 0;
    border: 3px solid var(--color-pink);
    border-radius: 20px;
    font-size: 50px;
    text-align: center;
    color: var(--color-pink);
  }
}
